@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
    height: 100%;
    min-height: 100%;
}

body {
	min-height: 100%;
    font-family:'Open Sans', helvetica, sanserif;
    background-image: url("home.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

.contenthome {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3%;
    opacity:.7;
    color:white;
    text-align:center;
    margin: 3px;
    background-color: black ;
}

.contentabout {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3%;
    opacity:.8;
    color:white;
    text-align: justify;
    margin: 0;
    background-color: black ;
}

.contentcontact {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3%;
    opacity:.8;
    color:white;
    text-align:center;
    margin: 0;
    background-color: black ;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 25px;
}
.navbar {
    min-height:30px !important;
}

.dropdown {
    cursor:pointer;
}

@media screen and (min-width:600px) {

    .contenthome, .contentabout, .contentcontact {
        top: 30%;
        right: 5%;
        left: 60%;
        bottom: auto;
    }
}